/*****BASESTYLES*****/

body {
  font-family: 'roboto', sans-serif, 'roboto bold', 'roboto slab bold';
  margin: 0 auto;
}
 
header {
    height: 800px;
    margin: 0 auto;
}

#work {
    height: 1450px;
}

#about {
    color: white;
    height: 650px;
}

#contact {
    color: white;
    height: 400px;
}



/*****CONTAINER*****/

.container {
    box-shadow: 20px 20px 20px 20px #b7b7b7;
    margin-top: 0px;
    width: 1400px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/*****HEADER*****/

header {
    background-image: url(../img/hero-image.png);
    background-size: cover;
    height: 800px;
    margin: 0 auto;
}

nav {
    float: right;
    padding: 25px 250px;

}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #bdbf09;

    font-size: 18px;
    font-style: 'roboto slab bold', sans-serif;
    list-style-type: none;
    padding-right: 30px;
    text-decoration: none;
}

nav ul li a:hover {
    border-radius: 5px;
    color: #095156;
}

.intro h1 {
    color: #bdbf09; 
    font-family: 'roboto slab bold', sans-serif;
    font-size: 60px;
    padding: 350px 200px 20px 200px;   
    text-align: center; 
}

 .intro p {
    color: #087e8b;
    font-family: 'roboto regular', sans-serif;
    font-size: 48px;
    padding: 0px 100px;
    text-align: center;
}

 
/*****WORK*****/
#work {
    background-color: #ffffff;
    padding-top: 0px;
}

#work .full-width {
    clear: both;
    height: 1450px;  
    width: 1200px;
    }

#work h2 {
    color: #095156;
    font-size: 36px;
    font-family: 'roboto slab bold', sans-serif;
    padding: 30px 0 30px 0;
    text-align: center;    
}

#work .half-width {
        background-color: white;
        height: 400px;
        padding-bottom: 40px;
        width: 600px;
        }

#work .half-width img {
    padding: 50px 50px 50px 100px;
    width: 500px;
}


#work .half-width h3 {
    color: #087e8b;
    float: left;
    font-family: 'roboto bold', sans-serif;
    font-size: 24px;
    margin-bottom: -15px;
    padding: 22px 50px 0px 50px;
    width: 500px;
}

#work p {
    color: #087e8b;
    float: left;font-family: 'roboto regular', sans-serif;
    font-size: 20px;
    padding: 0px 50px 50px 50px;
    width: 500px;
    
  }


/*****ABOUT*****/
 #about {
     background-color: #087e8b;
     margin: 0 auto;
 }

 #about .full-width {
    height: 650px; 
    width: 1200px;
 }

 #about .half-width {
     width: 600px;
 }

 #about h4 {
    color: #ffffff; 
    font-family: 'roboto slab bold', sans-serif;
    font-size: 36px;
    padding: 50px 0px 20px 100px;
    text-align: center;
     
     
 }

 #about img {
    padding-left: 100px; 
    padding-right: 50px;
    width: 550px;
}


 #about h5 {
    float: left;
    font-family: 'roboto bold', sans-serif;
    font-size: 24px;
    margin: 0px 10px 10px 50px;
    padding-left: 50px;
    padding-right: 100px;
    text-align: justify;
    width: 550px;
}
#about p {
    color: #ffffff;
    float: left;
    font-family: 'roboto regular', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 10px 0px 50px;
    padding-left: 50px;
    padding-right: 100px;
    text-align: justify;
    width: 550px;
}
 
/*****CONTACT*****/
 
#contact {
    background-color: #095156;
    margin: 0 auto;
    }

#contact .full-width {
    height: 400px;
    margin: 0 auto;
    width: 1200px;
}

#contact h6 {
font-family: 'roboto slab bold', sans-serif;
font-size: 36px;
margin: 0px 1px 0px 1px;
padding-top: 50px;
text-align: center;
}

.third-width  {
    text-align: center;
    width: 400px;
}

.third-width h6 {
    font-family: 'roboto regular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 20px;
}

p {
    font-family: 'roboto regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.third-width a {
    color: #ffffff;
    text-decoration: none;
}

.third-width ul {
    display: inline;
    list-style: none;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.third-width ul li a {
    background-color: #095156;
    float: left;
    padding: 30px 10px 10px 50px;
   }

/*****FOOTER*****/

.footer p {
    background-color: #095156;
    color: #ffffff;
    font-family: 'roboto regular', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;    
}