/*****BASESTYLES*****/

body {
  font-family: 'roboto', sans-serif, 'roboto bold', 'roboto slab bold';
}
 
header {
    height: 800px;
}

#work {
    height: 1450px;
}

#about {
   height: 650px;
   color: white;
}

#contact {
    height: 400px;
    color: white;
}



/*****CONTAINER*****/

.container {
    width: 1400px;
    box-shadow: 20px 20px 20px 20px #b7b7b7;
    margin-top: 0px;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

header {
    background-image: url(../img/hero-image.png);
    height: 800px;
    background-size: cover;
    margin: 0px;
}

nav {
    float: right;
    padding: 25px 250px;

}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #bdbf09;
    list-style-type: none;
    font-size: 18px;
    font-style: 'roboto slab bold', sans-serif;
    padding-right: 30px;
    
}

nav ul li a:hover {
        color: #095156;
        border-radius: 5px;
    }

.intro h1 {
    text-align: center;
    font-family: 'roboto slab bold', sans-serif;
    font-size: 60px;
    color: #bdbf09; 
    padding: 350px 200px 20px 200px;    
}

 .intro p {
    font-size: 48px;
    font-family: 'roboto regular', sans-serif;
    color: #087e8b;
    text-align: center;
    padding: 0px 100px;

   }

 
/*****WORK*****/
#work {
    background-color: #ffffff;
    padding-top: 0px;
    
}

#work .full-width {
    width: 1200px;
    height: 1450px;  
    clear: both;
  
}

#work h2 {
    font-size: 36px;
    font-family: 'roboto slab bold', sans-serif;
    text-align: center;
    padding: 30px 0 30px 0;
    color: #095156;
    
}

#work .half-width {
        width: 600px;
        background-color: white;
        height: 400px;
        padding-bottom: 40px;
        }

#work .half-width img {
    width: 500px;
    padding: 50px 50px 50px 100px;
}


#work .half-width h3 {
    font-family: 'roboto bold', sans-serif;
    font-size: 24px;
    color: #087e8b;
    float: left;
    margin-bottom: -15px;
    
    padding: 22px 50px 0px 50px;
    width: 500px;
}

#work p {
    font-family: 'roboto regular', sans-serif;
    font-size: 20px;
    color: #087e8b;
    float: left;
    
    
    width: 500px;
    padding: 0px 50px 50px 50px;
  }


/*****ABOUT*****/
 #about {
     background-color: #087e8b;
     margin: 0 auto;
 }

 #about .full-width {
     width: 1200px;
     height: 650px;
 }

 #about .half-width {
     width: 600px;
 }

 #about h4 {
     font-family: 'roboto slab bold', sans-serif;
     font-size: 36px;
     text-align: center;
     color: #ffffff;
     padding: 50px 0px 20px 100px;
     
 }

 #about img {
     padding-right: 50px;
     padding-left: 100px;
     width: 550px;
}


 #about h5 {
    font-family: 'roboto bold', sans-serif;
    font-size: 24px;
    float: left;
    margin: 0px 10px 10px 50px;
    padding-left: 50px;
    padding-right: 100px;
    text-align: justify;
    width: 550px;
}
#about p {
    font-family: 'roboto regular', sans-serif;
    font-size: 20px;
    color: #ffffff;
    float: left;
    width: 550px;
    margin: 10px 10px 0px 50px;
    padding-left: 50px;
    padding-right: 100px;
    line-height: 30px;
    text-align: justify;
}
 
/*****CONTACT*****/
 
#contact {
    background-color: #095156;
    margin: 0 auto;
    }
#contact .full-width {
    height: 400px;
    width: 1200px;
    margin: 0 auto;
}
#contact h6 {
font-size: 36px;
font-family: 'roboto slab bold', sans-serif;
text-align: center;
padding-top: 50px;
margin: 0px 1px 0px 1px;
}

.third-width  {
    width: 400px;
    text-align: center;

}
.third-width h6 {
    font-family: 'roboto regular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 20px;
}

p {
    font-family: 'roboto regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.third-width a {
    color: #ffffff;
    text-decoration: none;
}

.third-width ul {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 5px 0px 0px 0px;

}

.third-width ul li a {
    float: left;
    background-color: #095156;
    padding: 30px 10px 10px 50px;
   

}

/*****FOOTER*****/

footer p {
    font-family: 'roboto regular', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #095156;
    margin: 0 auto;
    
}